* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #8d3f4c;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
div,
form,
header,
footer {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
}

:root {
  --primary: #cd4343;
}

html {
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-weight: 400;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  background-color: #525659;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 0 32px;
}

.page {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 900px;
  min-height: 90vh;
  margin: 32px 0;
  padding: 128px 64px;
}

.row {
  flex-direction: row;
  gap: 24px;
  margin-bottom: 24px;
}

.col1 {
  width: 160px;
  align-items: flex-end;
}

.col2 {
  align-items: flex-start;
  flex: 1;
}

.title {
  color: var(--primary);
  font-size: 24pt;
}

.list {
  line-height: 1.4; 
}

.section-entry {
  margin-bottom: 24px;
}

.section-title {
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
  border-right: #999999 1px solid;
  padding-right: 12px;
  font-size: 0.8rem;
}

.entry-title {
  font-weight: 700;
}

.entry-date {
  color: #666666;
  margin-top: 12px;
}

.entry-body {
  margin-top: 12px;
}

.entry-award {
  color: #000000;
  font-size: 10pt;
  font-weight: 700;
}

.entry-issuer {
  margin-top: 12px;
  font-size: 10pt;
}

@media (max-width: 720px) {

  .container {
    padding: 0 16px;
  }

  .page {
    padding: 128px 32px;
  }

  .row {
    flex-direction: column;
  }

  .col1 {
    align-items: flex-start;
  }

  .section-title {
    border: none;
    padding: 0;
  }

}